name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Q1 Basic
      id: q1-basic
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Q1 Basic
        setup-command: pip install pytest
        command: pytest test_question1_basic.py
        timeout: 10
        max-score: 3
    - name: Q1 Case
      id: q1-case
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Q1 Case
        setup-command: pip install pytest
        command: pytest test_question1_case.py
        timeout: 10
        max-score: 2
    - name: Q1 No vowels
      id: q1-no-vowels
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Q1 No vowels
        setup-command: pip install pytest
        command: pytest test_question1_no_vowels.py
        timeout: 10
        max-score: 1
    - name: Q1 Invalid
      id: q1-invalid
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Q1 Invalid
        setup-command: pip install pytest
        command: pytest test_question1_invalid.py
        timeout: 10
        max-score: 2
    - name: Q1 Symbols
      id: q1-symbols
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Q1 Symbols
        setup-command: pip install pytest
        command: pytest test_question1_symbols.py
        timeout: 10
        max-score: 2
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        Q1-BASIC_RESULTS: "${{steps.q1-basic.outputs.result}}"
        Q1-CASE_RESULTS: "${{steps.q1-case.outputs.result}}"
        Q1-NO-VOWELS_RESULTS: "${{steps.q1-no-vowels.outputs.result}}"
        Q1-INVALID_RESULTS: "${{steps.q1-invalid.outputs.result}}"
        Q1-SYMBOLS_RESULTS: "${{steps.q1-symbols.outputs.result}}"
      with:
        runners: q1-basic,q1-case,q1-no-vowels,q1-invalid,q1-symbols
